<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>

    <ion-title>Segments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-segment (ionChange)="segmentChange( $event )">
  <ion-segment-button value="">
    <ion-label>Todos</ion-label>
  </ion-segment-button>
  <ion-segment-button value="dc">
    <ion-label>DC</ion-label>
  </ion-segment-button>
  <ion-segment-button value="marvel">
    <ion-label>Marvel</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>

  



  <ion-list>
    <ion-item *ngFor="let hero of (superHeroes | async ) | filtro:segmentSelected:'publisher'"
              class="animate__animated animate__fadeIn animate__faster"
    >
      <ion-label>
        <h3>{{hero.superhero | titlecase}} <small>{{hero.alter_ego}}</small></h3>
      
        <p>
          {{hero.first_appearance}}
        </p>

      </ion-label>

      <ion-label slot="end">{{hero.publisher}}</ion-label>
    </ion-item>
  </ion-list>


  <ion-list *ngIf="( superHeroes | async ) === null">
    <ion-item *ngFor="let hero of skeletomItem">
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        </h3>

        <p>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </p>
          
        <ion-skeleton-text animated style="width: 20px; height: 20px" slot="end"></ion-skeleton-text>
   
    
      </ion-label>
    </ion-item>
  </ion-list>


</ion-content>
