<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button routerLink="/alert">
    Alert
  </ion-button>

  <ion-button routerLink="/action-sheet">
    Action-Sheet
  </ion-button> -->

  <ion-list>
    <ion-item
      *ngFor="let component of components"
      [routerLink]="component.redirectTo"
      detail
    >
      <ion-icon [name]="component.icon" [color]="component.color" slot=start></ion-icon>
      {{component.name}}      
    </ion-item>
  </ion-list>


</ion-content>
