<app-header title="card" color="primary"></app-header>

<ion-content>

    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item color="primary">
            <ion-icon slot="start" name="pin-outline"></ion-icon>
            <ion-label>Marcador</ion-label>
        </ion-item>

        <ion-card-content>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium quibusdam quos amet deserunt consequatur iste dicta nesciunt magni, quo facilis voluptatum porro unde dolores ad cumque veniam officia perspiciatis sit?
        </ion-card-content>
      </ion-card>

      <ion-card>
          
        <img src="https://www.egames.news/__export/1616386084607/sites/debate/img/2021/03/21/quixn_es_loba_en_apex_legends_y_por_qux_es_tan_popular.jpg_242310155.jpg">

        <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate doloremque dicta autem praesentium placeat. Maiores corporis mollitia placeat ducimus, alias debitis quis cumque, nemo ullam voluptas labore hic iure consequatur.
        </ion-card-content>

      </ion-card>

</ion-content>
